@use '@angular/material' as mat;

@import "@angular/material/theming";
@include mat.core();

$blue-primary-palette: (
  50: #e3f3ff,
  100: #bcdfff,
  200: #8fccff,
  300: #5fb8ff,
  400: #39a8ff,
  500: #1198ff,
  600: #1c8aff,
  700: #2077eb,
  800: #2265d8,
  900: #2245b9,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: #616161,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  ),
);

$orange-complementary-palette: (
  50: #fff3e0,
  100: #ffdfb1,
  200: #ffcb7f,
  300: #ffb54c,
  400: #ffa524,
  500: #ff9500,
  600: #ff8900,
  700: #fa7900,
  800: #f46801,
  900: #eb4c02,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  ),
);

$mat-light-theme-foreground: (
  base: black,
  divider: $dark-dividers,
  dividers: $dark-dividers,
  disabled: $dark-disabled-text,
  disabled-button: rgba(black, 0.26),
  disabled-text: $dark-disabled-text,
  elevation: black,
  hint-text: $dark-disabled-text,
  secondary-text: map-get($blue-primary-palette, contrast, 700),
  icon: rgba(black, 0.54),
  icons: rgba(black, 0.54),
  text: rgba(black, 0.87),
  slider-min: rgba(black, 0.87),
  slider-off: rgba(black, 0.26),
  slider-off-active: rgba(black, 0.38),
);

$mat-light-theme-background: (
  status-bar: map-get($mat-grey, 300),
  app-bar: map-get($mat-grey, 100),
  background: map-get($mat-grey, 100),
  hover: rgba(black, 0.04),
  card: white,
  dialog: white,
  disabled-button: rgba(black, 0.12),
  raised-button: white,
  focused-button: $dark-focused,
  selected-button: map-get($mat-grey, 300),
  selected-disabled-button: map-get($mat-grey, 400),
  disabled-button-toggle: map-get($mat-grey, 200),
  unselected-chip: map-get($mat-grey, 300),
  disabled-list-option: map-get($mat-grey, 200),
  tooltip: map-get($mat-grey, 700),
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$alvys-ui-primary: mat.define-palette($blue-primary-palette, 900, 600, 900);
$alvys-ui-accent: mat.define-palette($orange-complementary-palette, 700);

// The warn palette is optional (defaults to red).
$alvys-ui-warn: mat.define-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".

$custom-typography-levels: mat-typography-config(
  $input: mat-typography-level(14px, 1.125, 400)
);

// Typography configurations according to Figma
@mixin mat-custom-typography($config, $selector: '.mat-typography') {
  .mat-h1,
  .mat-headline,
  #{$selector} h1 {
    font-size: 96px;
    font-weight: 300;
    line-height: 112px;
    letter-spacing: -0.5px;
    margin: 0px;
  }

  .mat-h2,
  .mat-title,
  #{$selector} h2 {
    font-weight: 300;
    font-size: 60px;
    line-height: 70px;
    margin: 0px;
  }

  .mat-h3,
  .mat-subheading-2,
  #{$selector} h3 {
    font-weight: normal;
    font-size: 48px;
    line-height: 56px;
    margin: 0px;
  }

  .mat-h4,
  .mat-subheading-1,
  #{$selector} h4 {
    font-weight: normal;
    font-size: 34px;
    line-height: 40px;
    margin: 0px;
  }

  .mat-h5,
  #{$selector} h5 {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.18px;
    margin: 0px;
  }

  .mat-h6,
  #{$selector} h6 {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.15px;
    margin: 0px;
  }

  .mat-body-strong,
  .mat-body-2 {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;

    letter-spacing: 0.1px;
    margin: 0px;
  }

  .mat-body,
  .mat-body-1,
  #{$selector} {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    margin: 0px;

    p {
      margin: 0px;
    }
  }

  .mat-small,
  .mat-caption {
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.2px;
    margin: 0px;
  }

  .mat-label {
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
  }

  .mat-subtitle-1 {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    margin: 0px;
  }

  .mat-subtitle-2 {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1px;
    margin: 0px;
  }

  .mat-overline {
    font-weight: 500;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
  }

  .mat-table-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1px;
  }

  .mat-display-4,
  #{$selector} .mat-display-4 {
    @include mat-typography-level-to-styles($config, display-4);
    margin: 0px;
  }

  .mat-display-3,
  #{$selector} .mat-display-3 {
    @include mat-typography-level-to-styles($config, display-3);
    margin: 0px;
  }

  .mat-display-2,
  #{$selector} .mat-display-2 {
    @include mat-typography-level-to-styles($config, display-2);
    margin: 0px;
  }

  .mat-display-1,
  #{$selector} .mat-display-1 {
    @include mat-typography-level-to-styles($config, display-1);
    margin: 0px;
  }

  .mat-header-title {
    font-size: 42px;
    font-weight: 300;
    margin-bottom: 0px;
  }

  .mat-text-uppercase {
    text-transform: uppercase;
  }
}



// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$alvys-ui-theme: mat.define-light-theme(
  (
    color: (
      primary: $alvys-ui-primary,
      accent: $alvys-ui-accent,
      warn: $alvys-ui-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($alvys-ui-theme);
@include mat-custom-typography($custom-typography-levels);